.top-header {
    display: flex;
    justify-content: space-around;
    .top-header-left{
        display: flex;
    }
    .top-header-right {
        display: flex;
        list-style: none;
    }
}
