.header-container {
    background: $secondary-color;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $body-font;
    font-size: $small-font16;
    text-transform: capitalize;
    padding: 13px 0 15px 0;
    line-height: 1.7;
    @media (max-width: 940px) {
        line-height: 1;
        align-items: flex-end;
        padding: 15px 20px;
    }
    @media (max-width: 768px) {

    }


    a {
        color: $pfont-color;
    }
    .top-header-left{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        
        .inner {
            align-items: flex-end;
            a {
                margin-right: 55px;
                @media (max-width: 940px) {
                    margin-right: 10px;
                }
            }

            .phone-icon {
                margin-right: 30px;
                @media (max-width: 940px) {
                    margin-right: 5px;
                    width: 17px;
                }
            }

            .mail-icon {
                margin-right: 27px;
                @media (max-width: 940px) {
                    margin-right: 10px;
                    width: 25px;
                }
                + a {
                    text-transform: initial;
                }
            }
        } 
    }
    .top-header-right {
        display: flex;
        list-style: none;

        .inner {
            align-items: flex-end;
            
            .translate {
                margin-right: 15px;
                width: 19px;
                @media (max-width: 940px) {
                    width: 16px;
                }
            }
                
            .down-arrow a {
                display: flex;
                margin-left: 8px;
                margin-right: 35px;
            }

            .down-arrow p {
                margin-right: 10px;
            }
        }
        
        ul {
            display: flex;
            align-items: flex-end;

            li {
                line-height: 1.7;
                @media (max-width: 940px) {
                    line-height: 1;
                }
            }

            li:hover {
                border-bottom: 1px solid $primary-color;
            }

            li:not(.register) {
                margin-right: 10px;
            }
        }
    }
}

.mid-header {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    padding: 35px 0 30px 0;
    @media (max-width: 940px) {
        padding: 25px 20px 20px 20px;
    }
    // flex-direction: row;

    div { 
        display: flex;

        .advisory {
            margin-right: 134px;
        }
        .main-office {
            margin-right: 45px;
        }

        > a {
            width: 43px;
            margin-right: 30px;
        }

        > div {
            flex-direction: column;
            justify-content: center;
            // margin-right: 100px;

            h1 {
                font-size: remCalc(32);
                font-weight: 700;
                font-family: $heading-font;
                margin-bottom: 15px;
                // margin-right: 170px;
                span {
                    color: $primary-color;
                }
            }

            h3 {
                // @include $small-font18;
                font-size: $small-font18;
                font-family: $body-font;
                margin-bottom: 21px;
                // margin-right: 30px;
            }

            p {
                font-size: $small-font16;
                font-family: $body-font;
                color: $pfont-color;
            }
        }
    }
    
    button {
        border: 1px solid $primary-color;
        background: white;
        // width: 195px;
        // height: 57px;
        margin-left: 65px;
        align-items: center;
        text-transform: uppercase;
        font-size: $small-font18;
        padding: 23px 27px;
        // display: block;
        a{
            color: $primary-color;
        }      
    }
    @media (max-width: 768px) {
        div > a {
            margin-right: 10px;
        }
        button {
            margin-left: 20px;
        }
    }
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primary-color;
    a {
        color: white;
    }


    .bottom-header-left {
        display: flex;
        justify-content: space-between;
        width: 75%;
        align-items: center;
        padding: 25px 30px;
        border-right: 1px solid #5499f7;
        @media (max-width: 940px) {
            padding: 15px 20px;
        }
        @media (max-width: 768px) {
            ul li {
                // margin-right: 10px;
                font-size: remCalc(14);
            }
        }

        ul {
            display: flex;
            justify-content: space-between;
            text-transform: uppercase;
            font-family: $body-font;
            align-items: center;

            // :not(:last-child) {
            //     font-size: $small-font18;
            // }

            li:not(:last-child) {
                margin-right: 30px;
                @media (max-width: 940px) {
                    margin-right: 15px;
                }
                // text-transform: capitalize;
            }

            .shopping-bag {
                position: relative; 
                .shoppinng-icon {
                    width: 22px;
                }
                + li {
                    font-size: $small-font18;
                }
            }
            .shopping-bag:after {
                content: "2";
                position: absolute;
                border: 1px solid #2d71cd;
                background: #2d71cd;
                border-radius: 50%;
                font-size: remCalc(12);
                color: white;
                padding: 5px 8px;
                // padding: 5px;
                // width: 25px;
                // height: 25px;
                // display: inline-block;
                bottom: -10px;
                right: -10px;
            }
        }
    }

    .bottom-header-right {
        display: flex;
        width: 25%;
        justify-content: space-between;
        padding: 25px 30px;
        @media (max-width: 940px) {
            padding: 15px 20px;
        }
    }
}
