@mixin heading {
    font-size: $large-font45;
    font-family: $heading-font;
    font-weight: 700;
    text-transform: capitalize;
    @media (max-width: 940px) {
        font-size: remCalc(40);
    }
    @media (max-width: 768px) {
        font-size: remCalc(30);
    }
}

@mixin body {
    font-size: $small-font16;
    line-height: 2;
    color: $pfont-color;
    font-family: $body-font;
    @media (max-width: 940px) {
        line-height: 1.7;
    }
    @media (max-width: 768px) {
        line-height: 1.5;
        font-size: remCalc(14);
    }
}

@mixin bluebutton {
    // width: 200px;
    padding: 12px 18px;
    background: $primary-color; // height: 40px;
    outline: none;
    border: 0;
    text-transform: capitalize;
    font-size: $small-font18;
    a {
        color: white;
    }
    @media (max-width: 768px) {
        padding: 6px 9px;
        font-size: $small-font16;
    }
}

@mixin title {
    display: flex;
    flex-direction: column; // justify-content: center;
    align-items: center;
    text-transform: capitalize;
    // height: 200px;
    position: relative;
    margin-bottom: 100px; // margin: 0 auto;
    h3 {
        font-size: $med-font20;
        font-family: $heading-font;
        font-weight: 700;
        position: relative;
        z-index: 1;
    }
    h2 {
        color: $primary-color;
        @include heading;
        position: relative;
        z-index: 2;
    }
    h2:after {
        content: url(../assets/line.png);
        position: absolute; 
        left: 50%;
        transform: translateX(-50%);
        margin-top: 40px;
    }
    p {
        position: absolute;
        font-size: remCalc(250);
        left: 50%;
        transform: translateX(-50%);
        top: -70px;
        color: white;
        font-family: $heading-font;
        font-weight: 700;
    }
    @media (max-width: 940px) {
        margin-bottom: 110px;
    }
    @media (max-width: 768px) {
        margin-bottom: 70px;
        h3 {
            font-size: $small-font18;
            margin-bottom: 10px;
        }
        h2:after {
            margin-top: 30px;
        }
        p {
            // top: -90px;
            font-size: remCalc(200);
        }
    }
}

@mixin footertitle {
    color: white;
    font-family: $subheading-font;
    font-size: $small-font18;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 60px;
}