// seciton 2-4
// section 2 Hero

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/bg-hero.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    color: white;
    margin-bottom: 100px;

    .hero-content {
        padding: 160px 0 140px 0;
        text-transform: capitalize;

        a {
            color: white;
        }

        h1 {
            font-size: remCalc(61);
            font-family: $heading-font;
            width: 58%;
            margin-bottom: 45px;
        }

        p {
            font-size: $small-font18;
            width: 72%;
            line-height: 1.6;
            margin-bottom: 55px;
            font-family: $body-font;
        } 

        button {
            @include bluebutton;

            i {
                margin-right: 5px;
            }
        }
    }
}

// section 3 article feature

.article-feature-section {
    background: url(../assets/bg-circle-1.png) top left no-repeat;
    margin-bottom: 140px;

    h3 {
        color: $primary-color;
        font-family: $heading-font;
        font-size: $med-font20;
        margin-bottom: 40px;
    }
    .article-feature-container {
        display: flex;
        justify-content: space-between;

        article {
            margin-right: 60px;
            position: relative;
            
            h2 {
                @include heading;
                font-size: $large-font45;
                margin-bottom: 60px;
                width: 95%;
                line-height: 1.4;

            }
            p {
                @include body;
                margin-bottom: 60px;
                width: 75%;
            }
            
            button {
                @include bluebutton;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        aside {
            background: $secondary-color;
            padding: 35px 25px 0 25px;
            border-right: $blueborder;
            h4 {
                font-family: $heading-font;
                font-size: $small-font18;
                margin-bottom: 50px;
                text-transform: capitalize;
            }
            p {
                @include body;
                margin-bottom: 30px;
            }

            button {
                margin-bottom: 50px;
                margin-top: 20px;
                border: none;
                background: $secondary-color;
            }

            button a {
                color: $primary-color;
                text-transform: capitalize;
                font-size: $small-font18;
                word-spacing: 2px;
            }
        }
    }
}

// section 4 services
.services {
    background: $secondary-color url(../assets/bg-circle-2.png) bottom right no-repeat;
    padding: 150px 0;
    .srv-subheading {
        @include title;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // justify-content: center;

        > div {
            width: 31%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: white;
            margin-bottom: 30px;
            padding: 60px  48px;
            

            .srv-img {
                width: 53px;
                margin-bottom: 30px;
                height: 50px;
            }
            
            h3 {
                font-size: $med-font22;
                text-transform: capitalize;
                margin-bottom: 30px;
                
            }
            
            p {
                @include body;
                text-align: center;
            }
        }
    }   
}