// sections 5-7

// section 5
.why-choose {
    margin-bottom: 160px; 
    margin-top: 155px;
    article {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        .why-content {
            width: 56%;
            h2{
                @include heading;
                position: relative;
                margin-bottom: 80px;
                
            }
            h2:after {
                content: url(../assets/line.png);
                position: absolute;
                left: 0;
                // transform: translateX(-50%);
                margin-top: 30px;
            }

            h3 {
                color: $primary-color;
                font-size: $small-font18;
                line-height: 1.7;
                font-family: $subheading-font;
                margin-bottom: 60px;
            }
            p {
                @include body;
            }
            @media (max-width: 940px) {
                h2 {
                    margin-bottom: 40px;
                    &:after {
                        margin-top: 30px;
                    }
                }
                h3 {
                    margin-bottom: 20px;
                    line-height: 1.5;
                }
            }
        }

       .painting {
           width: 42%;
           display: flex;
           align-items: center;
       } 
       @media (max-width: 940px) {
           margin-bottom: 60px;
       }
       @media (max-width: 768px) {
           margin-bottom: 30px;
       }
       @media (max-width: 480px) {
           flex-direction: column;
           align-items: center;
           .why-content {
               width: 100%;
               text-align: center;
               h2:after {
                   left: 50%;
                   transform: translateX(-50%);
               }
               p {
                   margin-bottom: 20px;
               }
           }
           .painting {
               width: 300px;
           }
       }
    }
    
    section {
        display: flex;
        justify-content: space-between;
        // flex-direction: column;
        .why-block {
            display: flex;
            flex-direction: column;
            width: 31%;
            padding: 40px 35px;
            border: 1px $secondary-color solid;
            &:hover {
                border-left: 1px $primary-color solid;
            }
            &:hover h3 {
                color: $primary-color;
            }

            
            > div {
                display: flex;
                align-items: center;
                margin-bottom: 40px;
                h3 {
                    font-family: $body-font;
                    font-size: $small-font18;
                    color: black;
                    text-transform: capitalize;
                }
                .why-img {
                    width: 37px;
                    margin-right: 20px;
                }
            }
            p {
                @include body;
            }
            @media (max-width: 940px) {
                padding: 20px 15px;
                > div {
                    margin-bottom: 20px;
                }
                p {
                    text-align: center;
                }
            }
        }
        @media (max-width: 480px) {
            flex-direction: column;
            .why-block {
                width: 100%;
            }
        }
    }
    @media (max-width: 940px) {
        margin-top: 100px;
        margin-bottom: 100px;
        padding: 0 20px;
    }
    @media (max-width: 768px) {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

// section 6
.history {
    display: flex;
    flex-wrap: wrap;
    background : #1f2329;
    padding: 0 6%;
    .history-block {
        width: 25%;
        padding: 80px 60px;
        border-right: 1px #2d3d50 solid;
        > div {
            width: 50px;
            height: 50px;
            margin-bottom: 33px;
        }

        h3 {
            margin-bottom: 40px;
            color: white;
            text-transform: capitalize;
            font-size: remCalc(18);
            font-family: $body-font;
        }
        p {
            color: $primary-color;
            font-size: $large-font45;
            font-weight: 700;
        }
    }
    .last {
        border: 0;
    }
    @media (max-width: 940px) {
        padding: 0;
        .history-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            // width: 50%;
            padding: 30px 20px;
            > div {
                margin-bottom: 20px;
            }
            h3 {
                margin-bottom: 20px;
            }
            p {
                font-size: remCalc(32);
            }
            // border: 1px #2d3d50 solid;
        }
    }
    @media (max-width: 768px) {
        .history-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            padding: 40px 30px;
            border: 1px #2d3d50 solid;
        }

    }
}

// section 7
.project {
    padding-top: 160px;
    .project-subheading {
        @include title;
        p {
            color: $secondary-color;
        }
    }
    .project-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 64px;
        // align-items: center;

        p {
        font-size: $med-font20;
        line-height: 1.7;
        font-family: $subheading-font;
        width: 75%;
        // float: left;
        }
        .content-button {
            button {
                border: 0;
                background: white;
            }
            // width: 11%;
            button a {
                color: $primary-color;
                font-size: $small-font16;
                text-transform: capitalize;
                line-height: 1.7;
                font-weight: 500;
                // background: white;
                // margin-left: 10px;
            }
            button a i {
                margin-right: 15px;
            }
        }
        @media (max-width: 940px) {
            margin-bottom: 50px;
            p {
                font-size: $small-font18;
            }
        }
        @media (max-width: 480px) {
            flex-direction: column;
            text-align: center;
            margin-bottom: 20px;
            p {
                width: 100%;
            }
        }
    }
    .project-block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 173px;
        // width: 31%;
        > div {
            width: 32%;
        }      
    }
    @media (max-width: 940px) {
        padding: 90px 20px 0;
        .project-block {
            margin-bottom: 100px;
        }
    }
}
