@import "setup";
// Color
$primary-color: #2f87fd;
$secondary-color: #f5f5f5;
$primary-footer: #202020;
$secondary-footer: #313030;
$pfont-color : rgba(0, 0, 0, 0.7);

// Font size
$small-font16: remCalc(16);
$small-font18: remCalc(18);
$med-font20: remCalc(20);
$med-font20: remCalc(22);
$larg-font: remCalc(45);
$larg-font: remCalc(50);


// Font family
$heading-font: 'Playfair Display', serif;
$subheading-font: 'Poppins', sans-serif;
$body-font: 'Source Sans Pro', sans-serif; 


//
// font-family: 'Playfair Display', serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Source Sans Pro', sans-serif; 